#container {
  display: flex;
  flex-direction: column;
}

#times {
  width: 95%;
  margin: auto;
}

.controls {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 95%;
}

.controls div {
  margin: 0.5rem;
}

table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
}

th {
  color: #fff;
  background: #39444b;
  font-size: 1.2rem;
  text-align: left;
}

td {
  width: 50%;
  color: #808080;
  font-size: 1rem;
  word-break: break-all;
}

td, th {
  padding: 1rem;
}

th:first-of-type {
  border-radius: 0.5rem 0 0 0;
}

th:last-of-type {
  border-radius: 0 0.5rem 0 0;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
